{% extends 'base.html.twig' %}
{% block body %}
<div class="login-box">

<b>Votre inscription a bien été ajouté à la formation </b>
<button> <a href="{{path("app_liste_FormationEmp")}}">Revenir en arrière</a></button>


</div>
{% endblock %}
